@charset "UTF-8";

/***** trailDetail *****/

/* section main */
.contents > h1 > i {
    font-size: 25px;
}
.contents > h1 > i.fa-diagram-project {
    font-size: 20px;
}

.section {
	height: 155px;
	width: 790px;
	padding: 0px 32px;
}
.section > div.location {
	font-size: 12px;
	font-weight: bold;
}
.section > div.stat {
	position: relative;
	display: inline-block;
	height: 49px;
	width: 95px;
	margin: 15px 25px 20px 0px;
}
.section > div.stat2 {
	font-size: 12px;
	color: #494950;
}
.section > div.stat .stat-subtext {
	height: 15px;
	width: 94px;
	font-size: 12px;
	color: #494950;
	display: block;
}
.section > div.stat .stat-text {
	height: 34px;
	width: 94px;
	font-size: 28px;
	display: block;
}

/* map-container main */
.map-container {
	height: 900px;
	width: 100%;
	background-color: aliceblue;
}

/* map */
.main-map {
	/*height: 300px;
	width: 800px;*/
	height: 500px;
	width: 800px;
	float: left;
}

/* map sidebar */
.map-sidebar {
	height: 340px;
	width: 415px;
	float: right;
	border: 1px solid #dee2e6;
	border-radius: 5px;
}
.map-sidebar > h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 12px 12px 0px;
	margin: 0px 0px 5px;
}
.map-sidebar > div {
	display: inline-block;
}
.map-sidebar > div > .detail-text {
	height: 68px;
	width: 390px;
	background-color: red;
	margin-left: 10px;
}
.map-sidebar > div > .detail-text > span {
/*	display: block;
	margin-left: 10px;*/
}
.map-sidebar > div > img {
	height: 60px;
	width: 60px;
	margin-left: 10px;
}

/* comments main */
.segment-comments {
	height: 900px;
	width: 100%;
	background-color: lightcyan;
}