@charset "UTF-8";
/*
.contents {
	width:1250px;
	margin: auto;
	min-height: 100vh;
	position: relative;
	padding: 0;
	background-color: lightcyan;
}
.contents h1 {
	font-size: 34px;
	font-weight: bold;
	line-height: 41px;
}
*/

/***** trailMain *****/

/* contant main */
.explorer {
	position: relative;
	height: 710px;
	width: 100%;
	margin-top: 10px;
}

/* map filters main */
.segment-map-filters {
	position: relative;
	height: 80px;
	width: 100%;
}

/* search */
.segment-map-filters .input-group {
	position: relative;
	height: 34px;
	width: 317px;
	float: left;
	margin: 0px 25px 0px 5px;	/* 상우하좌 */
}
.input-group .form-control {
	height: 34px;
	width: 260px;
}
.input-group > button {
	height: 34px;
	width: 56.33px;
}
.input-group > button.btn {
	--bs-btn-border-color: #dee2e6;
}

/* tag modal */
.segment-map-filters > button.btn-secondary {
	height: 34px;
	width: 166px;
	float: left;
	margin-right: 25px;
	background-color: white;
	color: #242428;
	overflow: hidden;
	border-color: #dee2e6;
	font-size: 14px;
}
.segment-map-filters .modal {
	--bs-modal-width: 450px;
}
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-footer {
	padding: 5px 25px;
}
.modal .modal-dialog {
	margin: 200px auto;
}
.modal .modal-dialog .modal-content .modal-body {
	padding: 25px;
}
.modal .modal-dialog .modal-content .modal-body > button.btn1 {
	background-color: #F96666;
}
.modal .modal-dialog .modal-content .modal-body > button.btn2 {
	background-color: #674747;
}
.modal .modal-dialog .modal-content .modal-body > button.btn3 {
	background-color: #829460;
}
.modal .modal-dialog .modal-content .modal-body > button.selected-tag {
	border: 3px solid var(--bs-body-color);
}
.modal .modal-dialog .modal-content .modal-body .step2 {
	margin-top: 10px;
}
.modal .modal-dialog .modal-content .modal-body .form-check {
	float: right;
	text-align: right;
	font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-footer > button {
	height: 34px;
}

/* filter button */
.segment-map-filters .btn-group {
	height: 34px;
	margin-right: 25px;
}
.btn-group > button.btn {
	border-color: #dee2e6;
	font-size: 14px;
}
.btn-group > button.selected-filter {
	background-color: var(--bs-body-color);
	color: white;
}

/* my button */
.segment-map-filters > button.btn-primary {
	height: 34px;
	font-size: 14px;
	float: right;
	margin-right: 5px;
	background-color: #fc5200;
	--bs-btn-border-color: #fc5200;
}
.segment-map-filters > button.btn-primary:hover {
	background-color: #fc5200;;
	border-color: rgb(255, 215, 196);
}

/* map main */
.main-content {
	position: relative;
	height: 630px;
	width: 100%;
}

/* map sidebar */
.segments-sidebar {
	height: 100%;
	width: 280px;
	float: left;
	padding: 10px 5px;
	overflow-y: scroll;
}
.segments-sidebar > h5, .segments-sidebar > ul {
	padding-left: 10px;
}
.segments-sidebar > ul > li {
	position: relative;
	height: 60px;
	width: 235px;
	margin: 5px 0px;
	list-style: none;
}
.segments-sidebar > ul > li:hover {
	background-color: rgb(255, 215, 196);
}
.segments-sidebar > ul > li .fa-solid {
	height: 30px;
	width: 23px;
	margin: 10px;
	float: left;
	color: #fc5200;
}
.segments-sidebar > ul > li .selected-maker {
	color: #0d6efd;
}

.segments-sidebar > ul > li > div {
	padding-top: 5px;
}
.segments-sidebar > ul > li > div > span {
	height: 5px;
	width: 5px;
	color: #494950;
	font-size: 14px;
	text-align: right;
}
.segments-sidebar > ul > li > div > span.sideBar-title {
	font-weight: bold;
}

/* map */
.main-map {
	height: 100%;
	width: 960px;
	float: right;
}